<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>{{title}}</title>
</head>
<body>
<div id="header">
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li class="selected"><a href="{{ url_for('index') }}">Home</a></li>
<!--      <li><a href="examples.html">Examples</a></li>-->
<!--      <li><a href="page.html">A Page</a></li>-->
<!--      <li><a href="another_page.html">Another Page</a></li>-->
<!--      <li><a href="contact.html">Contact Us</a></li>-->
    </ul>
  </div>
</div>

<p class="text-body text-justify">
  {% block content %}
  "Привет, мир!"
  {% endblock %}
</p>
<div id="footer">
  Copyright &copy; Lord Wizard
</div>
</body>
</html>