<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
,<h1 class="text-monospace">Привет, меня зовут {{ name }}</h1>
<img src="/static/image/foto.jpg" alt="Мое фото" width="300">
<p class="text-body text-justify">Загрузить и использовать Bootstrap можно несколькими способами.
    Для начала, можно воспользоваться npm. Тут понадобится такая команда: </p>
<p class="alert-dark">се права защищены</p>
</body>
</html>